.tech {
  background-color: var(--bg-1);
  display: flex;
  font-family: var(--font);
  justify-content: center;

  div {
    height: max-content;
    padding-bottom: 90px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 30px;

    img {
      width: 100px;
    }
    h2 {
      font-weight: 800;
      font-size: 30px;
    }
    ul {
      width: 70%;
    }
  }
}
